<ion-header>
  <ion-toolbar>
    <ion-title>
      SEND SOS!
    </ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content class="login-content bg-class" padding>
        <ion-row>
          <ion-col>
            <ion-img src="/assets/img/sos.png" style="position: center; margin-top: 50%;" (click)="showHideAgriculture()"></ion-img>
            <p class="description">SEND SOS!</p>
          
          </ion-col>
        </ion-row>
      
       
      
    <!-- <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started
            <ion-img src="/assets/img/logo.png" style="width:30%; height: 30%; overflow: visible; float: right;">
            </ion-img></ion-card-subtitle>
        <ion-card-title>Welcome to M</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your account has been created, you'll want to start out to use our features and components. Check out some of the services we offer below for next steps.</p>
      </ion-card-content>
    </ion-card>
     -->
    <!-- <ion-list lines="true" >
        
      <ion-list-header>
        <ion-label>Offered Services:</ion-label>
      </ion-list-header>
      <ion-item (click)="showHideAgriculture()">
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-label>Send SOS!</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>
