// .textCenter{
//     text-align: center;
// }
// .textBold{
//     text-align: center;
//     font-weight: bold;
//     font-size: 30px;
// }
// .welcome-height{
//     height: 200px;
// }
// ion-content {
//     --background: none transparent;
//   }

.centers{
    margin:auto;
    text-align: center;
    width: 100%;
  }
  #back{
    width: 50%;
  }
  #map1 { 
    position:absolute; top:0; bottom:0; width:100%; 
  }
  
  
  